<app-card>
  <app-card-header>
    <!-- make title dynamic below vvvv -->
    <h3 class="float-left">View Rates</h3>
    <app-chart-type-filter
      (clickChartType)="toggleChartType($event)"></app-chart-type-filter>
  </app-card-header>
  <app-card-block class="set-height">
    <ngx-loading [show]="loading"></ngx-loading>
    <div *ngIf="viewRatesData">
      <app-chart-data-filter (change)="toggleChartData($event)"></app-chart-data-filter>
      <div *ngIf="chartTypeFilter != 'donut'; then barBlock else donutBlock"></div>

      <ng-template #barBlock><app-bar-chart></app-bar-chart></ng-template>
      <ng-template #donutBlock><app-donut-chart></app-donut-chart></ng-template>
      
    </div>
  </app-card-block>
</app-card>
