<div class="wrapper">
  <div class="row">
    <div class="col-sm-8">
      <h1>Copyright Policy</h1>
    </div>
  </div>

  <p>Last Modified: November 19, 2012</p>

  <p>This constitutes the policy of iSpot.tv, Inc. (“iSpot”) with respect to complaints of copyright, trademark, or other intellectual property infringements.</p>

  <p>iSpot.tv is an informational and research website that indexes and tags information found in promotional television content,including TV commercials, show promotions, movie trailers, infomercials and public service announcements(collectivelyPromotional Content). We provide this service at no cost to the brands and advertisers that produce and air thisPromotional Content.</p>

  <p>We help consumers to easily find Promotional Content they see on TV by comprehensively tagging information about thePromotional Content, thereby increasing the reach and engagement with Promotional Content. Some of the information we tag includes brands, products, promotions and offers, URLs, phone numbers, social links, celebrities, scenes, characters and other pertinent identifying data. In addition to making it easy for consumers to find Promotional Content they see on TV,we also enable consumers to interact with the brands and products found in such content by providing links to discover more information, including links to the advertiser web site and social pages.</p>

  <p>We respect the rights of copyright holders and in an effort to properly credit the copyright holders of each commercial,iSpot.tv clearly indicates the advertising company in a prominent location on the page any given Promotional Content is shown.Whenever this information is not available, the company whose products and/or services are being represented in thePromotional Content is the company holding the copyrights of such commercial.Additionally, the title, description, product names, slogans and other data elements, in part, or in whole, may be trademarked by the same identified copyright holder.</p>

  <p>Notwithstanding the above, should Your company, or the company You are representing, want their current and futurePromotional Content removed from iSpot.tv, please provide us with a DMCA takedown notice comprised of the following:</p>

  <ol>
    <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive copyright that is allegedly infringed;</li>
    <li>Identification of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works at a single online site are covered by a single notification, a representative list of such works at that site;</li>
    <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material. Providing URLs in the body of an email is the best way to help us locate content quickly;</li>
    <li>Information reasonably sufficient to permit us to contact the complaining party, such as an address, telephone number and, if available, an electronic mail address at which the complaining party may be contacted;</li>
    <li>A statement that the complaining party has a good-faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent or the law;</li>
    <li>A statement that the information in the notification is accurate and, under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed</li>
  </ol>

  <p>All removal requests and DMCA notices should be sent to the following location:</p>

  <p>iSpot.tv, Inc.<br>
  Attn: Copyright Agent<br>
  15831 NE 8th St #100<br>
  Bellevue, WA 98008<br>
  copyright@ispot.tv</p>

  <p>Any person who knowingly materially misrepresents that material or activity is infringing or includes false information in a notice may be subject to liability.</p>

  <p>Once a take down request is received and validated, iSpot will do its best to process such notices promptly.</p>
</div>
